* 
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.wrapper 
{
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background: sandybrown;
}

.lake 
{
    height: 100%; 
    background: lightseagreen;
    border-radius: 50px;
}